.carousel-item > img { 
    width: 100%; 
    height: 720px;
  }

.carousel-caption{
  color:lightcoral;
}

.jumbotron{
  background-image: url("img/banner.jpg");
  background-size: 'cover';
}

footer{
  background-color:lightgray;
}
