<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Halalan PH</title>
    
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-info navbar-light">
    <div class="container"> 
      <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home </a>
          <a class="nav-item nav-link" href="#">About </a>
          <a class="nav-item nav-link" href="#">Training </a>
          <a class="nav-item nav-link" href="#">Contract </a>
        </div>
      </div>
    </div>
  </nav>
    <div class="jumbotron jumbotron-fluid bg-success text-white text-center" style=background:#aaa>
        <div class=container>
        <h1 class=display-1>Welcome to the Dojo </h1>
        <p class=lead> A guiding light for the less enlightened</p>
      </div>
    </div>
    <div class="container text-muted">
      <!-- Cards -->
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <img src="/img/1.jpg" height=200/>
            <div class="card-body">
              <h3 class=card-title >Node JS Training</h3>
              <p> Muha</p>
            </div>>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <img src="/img/2.jpg" alt="Card image cap" height=200/>
            <div class="card-body">
              <h3 class=card-title >Node JS Training</h3>
              <p> Muha</p>
            </div>>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <img src="/img/3.jpg" height=200/>
            <div class="card-body">
              <h3 class=card-title >Node JS Training</h3>
              <p> Muha</p>
            </div>>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <img src="/img/4.jpg" height=200/>
            <div class="card-body">
              <h3 class=card-title >Node JS Training</h3>
              <p> Muha</p>
            </div>>
          </div>
        </div>
      </div>

      <h1 class="display-4 text-center py-5"> Meet the Speakers </h1>
      
      <nav class="nav nav-pills justify-content-center flex-column flex-md-row">
        <a class="nav-link active" href="#ninja" data-toggle="tab"> The Net Ninja </a>
        <a class="nav-link" href="#wizard" data-toggle="tab"> The Web Ninja </a>
        <a class="nav-link" href="#avenger" data-toggle="tab"> The Angular Avengers </a>
        <a class="nav-link" href="#captain" data-toggle="tab"> Captain Code </a>
      </nav>

      <div class="tab-content py-5"> 
        <div class="tab-pane active" id="ninja">
          <h3> The Net Ninja </h3>
          <p> The master </p>
        </div>
        <div class="tab-pane" id="wizard">
          <h3> The Web Ninja </h3>
          <P> Mu </P>
        </div>
        <div class="tab-pane" id="avenger">
          <h3> The Angular Avenger </h3>
          <P> Mu </P>
        </div>
        <div class="tab-pane" id="captain">
          <h3> The Captain Code </h3>
          <P> Mu </P>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>