<form> 
    
    <div class="container-fluid">
      <!-- Complete Name -->
      <h5 class="display-6"> Complete Name </h1>
      <div class="form-row py-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Middle name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
      <!-- Date of Birth-->
      <h5 class="display-6"> Date of Birth </h1>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="Month">Month</label>
          <select id="Month" class="form-control">
            <option selected>Choose...</option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="Day">Day</label>
          <select id="Day" class="form-control">
            <option selected>Choose...</option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="Year">Year</label>
          <select id="Year" class="form-control">
            <option selected>Choose...</option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
        </div>
      </div>
      <!-- Address -->
      <h5 class="display-6"> Complete Address </h1>
      <div class="form-row"> 
        <div class="form-group col-md-2">
          <label for="inputStreetNumber"> Street Number </label>
          <input type="text" class="form-control" id="inputStreetNumber" placeholder="1234">
        </div>
      </div>
      <!-- Mobile Number -->
      <h5 class="display-6"> Mobile Number </h1>
      <!-- Email Address -->
      <div class="form-group">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <!-- Option -->
      <h5 class="display-6"> Option </h1>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>